{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLANTit - Plan & Plant</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta name="description" content="PLANTit was made by freshmen at MAIT, Delhi to... ">
    <meta name="robots" content="INDEX, FOLLOW">
    <meta name="keywords" content="plantit, PLANTIT, PLANTit, PLANandPLANT, Plan&Plant">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Roboto+Slab&display=swap"
        rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/media/logo2.png">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap');
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Roboto+Slab&display=swap');
    </style>
    <script src="action.js"></script>
    <!--    font-family: 'Merriweather', serif;
            font-family: 'Montserrat', sans-serif;
            font-family: 'Roboto Slab', serif; 
            font-family: 'Chivo Mono', monospace;     -->
</head>

<body>

    {% if messages %}
    {% for message in messages %}
    <div class="messagesent" id="messagesent" role="alert">
        <strong> {{message}} </strong>
    </div>
    {% endfor %}
    {% endif %}

    <div id="strip1">

        <header>
            <div>
                <a href="/index">
                    {% load static %} <img id="logo" src="{% static "/media/logo2.png" %}" alt="PLANTit">
                </a>
            </div>
            <br>
            <nav>

                <a class="navButton" href="/index">Home</a>
                <a class="navButton" href="#strip3">SERVICES <strong class="downicon">&#10507;</strong> </a>
                <a class="navButton" href="/plantfinder">PLANT A TREE</a>
                <a class="navButton" href="#strip7">COMMUNITY</a>
                <a class="navButton" href="#contactstrip">CONTACT</a>
                <a id="navLoginButton" href="#mailingList">SUBSCRIBE</a>
                <a id="navLoginButton" href="backend.php">LOG IN</a>

            </nav>


        </header>


    </div>

    <div id="strip2">
        <div>
            {% comment %} <div id="mainImage">
                {% load static %} <img src="{% static "/media/plant1.jpg" %}" alt="img">

            </div> {% endcomment %}
            <h1><strong id="mainHeading" class="text">PLANTit</strong>
            </h1>
            <h2 id="motto">
                <strong class="text">PLAN</strong> <strong class="text">&</strong> <strong class="text">PLANT</strong>
            </h2>
        </div>


        <div id="mainPara">
            <p class="centred">A one-stop solution for every environmental enthusiast to guide you throughout your
                journey of parenting a plant according to the ecological conditions in your surrounding customized to
                location and also providing with a common ground to communicate as well as support each other.
            </p>
        </div>

        <div>
            <a id="plantitButton" href="#strip3">GET STARTED</a>
            <a id="plantitButton" href="">PLANT A TREE</a>
            <a id="plantitButton" href="/plantfinder">PLANT FINDER</a>
        </div>
        <br>

    </div>


    <div id="strip3" class="centred">
        <br><br>
        <h1 class="stripHeading centred">
            OUR SERVICES :
        </h1>
        <h2 class="stripSubHeading centred">Let's Get Started</h2>
        <div class="container">
            <div class="item"><a href=""></a>
                {% load static %}<img class="fleximg" src="{% static "/media/plantationguide.png" %}" alt="1">PLANTATION
                GUIDE
            </div>
            <div class="item">
                {% load static %}<img class="fleximg" src="{% static "/media/plantlocation.png" %}" alt="2">PLANT A TREE
                IN YOUR LOCATION
            </div>
            <div class="item">
                {% load static %}<img class="fleximg" src="{% static "/media/rightplant.png" %}" alt="3">FIND THE RIGHT
                PLANT
            </div>
            <div class="item">
                {% load static %}<img class="fleximg" src="{% static "/media/chatcommunity.png" %}" alt="4">CHAT WITH
                COMMUNITY
            </div>

        </div>
    </div>

    <div id="strip4">
        <br><br>
        <h1 class="stripHeading centred">
            PLANTATION GUIDE
        </h1>
        {% load static %}<img id="timelineimg" src="{% static "/media/timeline.jpeg" %}" alt="timeline">

    </div>

    <div id="strip5">
        <br><br>
        <h1 class="stripHeading centred">
            PLANT A TREE IN YOUR LOCATION
        </h1>
        <section class="centred searchbar">
            <form name="search" method="get" action="/searchlocation/">
                {% csrf_token %}
                <input type="search" placeholder="Search Location" name="query" id="search">
                <button type="submit">Search</button>
            </form>
        </section>
        {% comment %} <div class="centred">
            <input class="searchbar" type="text" placeholder="Enter your Location">
            <div class="dropdown">
                <button class="dropbtn">Location</button>
                <div class="dropdown-content">
                    <a href="#">North Delhi</a>
                    <a href="#">South Delhi</a>
                    <a href="#">East Delhi</a>
                    <a href="#">West Delhi</a>

                </div>
            </div>
            <div>
                <input id="inputbtnml" class="btn" type="submit" value="Search">
            </div>
        </div> {% endcomment %}
    </div>

    <div id="strip6">
        <br><br>
        <h1 class="stripHeading centred">
            FIND THE RIGHT PLANT
        </h1>
        <section class="centred searchbar">
            <form name="search" method="get" action="/searchplant/">
                {% csrf_token %}
                <input type="search" placeholder="Search Plant" name="query" id="searchplant">
                <button type="submit">Search</button>
            </form>
        </section>
        {% comment %} <div class="centred">
            <input class="searchbar" type="text" placeholder="Enter your requirements">
            <div>
                <input id="inputbtnml" class="btn" type="submit" value="Search">
            </div>
        </div> {% endcomment %}
    </div>
    

    <div id="strip7">
        <br><br>
        <h1 class="stripHeading centred">
            CHAT WITH COMMUNITY
        </h1>
        <h2 class="stripSubHeading centred">
            Find people with similar interests of different backgrounds and start talking. All enthusiasts are welcome
            to join community.

        </h2>
        <iframe src="https://discord.com/widget?id=1055149197000712222&theme=dark" width="1502" height="500"
            allowtransparency="true" frameborder="0"
            sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    </div>

    <div id="mailingList" class="centred" style="font-size: 30px;">
        <br><br>
        <h1 class="stripHeading centred">Join Our Newsletter</h1>
        <p class="stripSubHeading centred">Get onto our mailing list to get to know the latest places to plant a tree.</p>
        <div>
            <input id="inputtextml" type="text" placeholder="Enter your E-mail">
            <div>
                <input id="inputbtnml" class="btn" type="submit" value="SUBSCRIBE">
            </div>
        </div>
    </div>

    <div id="contactstrip">
        <br><br>
        <h1 class="stripHeading centred">Contact Us</h1>
        <div id="contactForm" class="centred" style="font-weight: bold;font-size: 20px;">
            <h2 class="stripSubHeading centred">Doubts? <br>
                Fill in the form below and we will reach out to you.</h2>
            <form method="post" action="/contact/">
                {% csrf_token %}
                <div>
                    Name: <input type="text" name="name" id=""
                        style="background-color:#c29dc3;font-weight: bold;font-size: 20px;border-radius: 10px;padding: 5px;"
                        placeholder="Enter your Name">
                </div>
                <br>
                <div>
                    E-mail: <input type="email" name="email" id=""
                        style="background-color:#c29dc3;font-weight: bold;font-size: 20px;border-radius: 10px;padding: 5px;"
                        placeholder="Enter your E-mail">
                </div>
                <br>
                <div>
                    Phone: <input type="number" name="phone" id=""
                        style="background-color:#c29dc3;font-weight: bold;font-size: 20px;border-radius: 10px;padding: 5px;"
                        placeholder="Enter Phone No.">
                </div>
                <br>
                <div>
                    Message: <input type="text" name="message" id=""
                        style="background-color:#c29dc3;font-weight: bold;font-size: 20px;border-radius: 10px;padding: 5px;"
                        placeholder="Enter Message">
                </div>
                <br>
                <div>
                    <input type="checkbox" name="" id="contactcheckbox" checked>
                    <label for="contactcheckbox">You agree to be reached upon recieving of this form.</label>
                    <br>
                    <input class="btn" type="submit" value="SUBMIT"
                        style="background-color: #a320a5;color: black;font-size:15px;font-weight: bold;border-radius: 10px;padding: 7px;margin: 20px;">
                </div>
            </form>
        </div>
    </div>



    <hr>

    <footer id="footerMenu" class="centred">

        <div id="footerAbove">
            <h1 class="centred">SEE YOU AGAIN!</h1>
        </div>

        <div id="footerRight">
            <h3>Pages:</h3>
            <a href="/index" target="_blank">HOME</a> <br>
            <a href="/about" target="_blank">ABOUT</a> <br>
            <a href="/services" target="_blank">SERVICES</a> <br>
            <a href="/contact" target="_blank">CONTACT</a> <br>
        </div>

        <div id="footerLeft">

            <a href="/index">
                <div>
                    {% load static %} <img id="logoDown" src="{% static "/media/logo2.png" %}" alt="PLANTit">
                </div>
                <div>
                    <strong>PLANTit</strong>
                </div>
            </a>

        </div>

        <div id="footerMid">
            <h3 id="socialhead">Socials:</h3>


            <a href="https://www.linkedin.com/in/ishaan-minocha-785779250/" target="_blank">
                <div id="linkedin">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin"
                        width="48" height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#4bb923" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <rect x="4" y="4" width="16" height="16" rx="2" />
                        <line x1="8" y1="11" x2="8" y2="16" />
                        <line x1="8" y1="8" x2="8" y2="8.01" />
                        <line x1="12" y1="16" x2="12" y2="11" />
                        <path d="M16 16v-3a2 2 0 0 0 -4 0" />
                    </svg>
                </div>
            </a>



            <a href="https://www.instagram.com/ishaantrovert/" target="_blank">
                <div id="instagram">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram"
                        width="48" height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#4bb923" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <rect x="4" y="4" width="16" height="16" rx="4" />
                        <circle cx="12" cy="12" r="3" />
                        <line x1="16.5" y1="7.5" x2="16.5" y2="7.501" />
                    </svg>
                </div>
            </a>



            <a href="mailto:minochaishaan2003@gmail.com" target="_blank">
                <div id="gmail">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-gmail" width="48"
                        height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#4bb923" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M16 20h3a1 1 0 0 0 1 -1v-14a1 1 0 0 0 -1 -1h-3v16z" />
                        <path d="M5 20h3v-16h-3a1 1 0 0 0 -1 1v14a1 1 0 0 0 1 1z" />
                        <path d="M16 4l-4 4l-4 -4" />
                        <path d="M4 6.5l8 7.5l8 -7.5" />
                    </svg>
                </div>
            </a>



            <a href="https://github.com/IshaanMinocha" target="_blank">
                <div id="github">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-github" width="48"
                        height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#4bb923" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
                    </svg>
                </div>
            </a>

        </div>

        <br>

        <div>
            Made with ❤️ and pure code by Team Tech-Analogy. All Rights Reserved. <br>
            Copyright &copy; 2022
        </div>

        <div id="goToTop">
            <a href="/index">{% load static %}<img src="{% static "/media/uparrow.png" %}" alt="TOP"
                    style="width:40px;"></a>
        </div>



    </footer>


</body>

</html>