{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLANTit | PLANT FINDEr</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta name="description" content="PLANTit was made by freshmen at MAIT, Delhi to... ">
    <meta name="robots" content="INDEX, FOLLOW">
    <meta name="keywords" content="plantit, PLANTIT, PLANTit, PLANandPLANT, Plan&Plant">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Roboto+Slab&display=swap"
        rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Roboto+Slab&display=swap');
    </style>
    <script src="action.js"></script>
    <!--    font-family: 'Merriweather', serif;
            font-family: 'Montserrat', sans-serif;
            font-family: 'Roboto Slab', serif;      -->
</head>

<body>
    {% comment %} <h2> {{plants.0.plant_name}} </h2> {% endcomment %}
    <div id="strip1">

        <header>
            <div>
                <a href="/index">
                    {% load static %}<img id="logo" src="{% static "/media/logo.jpg" %}" alt="PLANTit">
                </a>
            </div>
            <br>
            <nav>

                <a class="navButton" href="/index">Home</a>
                <a class="navButton" href="/about">ABOUT</a>
                <a class="navButton" href="/about">CHOOSE</a>
                <a class="navButton" href="/contact">CONTACT</a>
                <a id="navPlantitButton" href="backend.php">Plant It</a>

            </nav>


        </header>


    </div>

    <div class="heading centred" id="portfolioHeading-1" >
        <h1>Evergreen Plants</h1> <strong>grow all year</strong> 
        <div class="container">
            {%for i in plants%}
                <p> {{i.plant_name}} </p>
                {% comment %} {{i.plant_pic.url}} {% endcomment %}
                <img src="{{i.plant_pic.url}}">
                {{i.medicinal_use}}
                {{i.plant_description}} <br>
                {{i.scientific_mail}} <br>
                {{i.season}} <br>
                {{i.soil}} <br>
                {{i.location}} <br>
                {{i.cost}} <br>
                <br> <br> <br>
                <br> <br> <br>
            {% endfor %}

            {% comment %} <a href="" class="item">{% load static %}<img src="" alt="">e-1</a>
            <a href="" class="item">{% load static %}<img src="" alt="">e-2</a>
            <a href="" class="item">{% load static %}<img src="" alt="">e-3</a>
            <a href="" class="item">{% load static %}<img src="" alt="">e-4</a>
            <a href="" class="item">{% load static %}<img src="" alt="">e-5</a>
            <a href="" class="item">{% load static %}<img src="" alt="">e-6</a>
            <a href="" class="item">{% load static %}<img src="" alt="">e-7</a>
            <a href="" class="item">{% load static %}<img src="" alt="">e-8</a>
            <a href="" class="item">{% load static %}<img src="" alt="">e-9</a>
            <a href="" class="item">{% load static %}<img src="" alt="">e-10</a>
            <a href="" class="item">{% load static %}<img src="" alt="">e-11</a>
            <a href="" class="item">{% load static %}<img src="" alt="">e-12</a> {% endcomment %}
        </div>

    </div>

    <div class="heading centred" id="portfolioHeading-2">
        <h1>Season plants</h1> <strong>grow some season</strong> 
        <div class="container">
            {% comment %} <a href="" class="item">{% load static %}<img src="" alt="">e-1</a>
            <a href="" class="item">{% load static %}<img src="" alt="">e-2</a>
            <a href="" class="item">{% load static %}<img src="" alt="">e-3</a>
            <a href="" class="item">{% load static %}<img src="" alt="">e-4</a>
            <a href="" class="item">{% load static %}<img src="" alt="">e-5</a>
            <a href="" class="item">{% load static %}<img src="" alt="">e-6</a>
            <a href="" class="item">{% load static %}<img src="" alt="">e-7</a>
            <a href="" class="item">{% load static %}<img src="" alt="">e-8</a>
            <a href="" class="item">{% load static %}<img src="" alt="">e-9</a>
            <a href="" class="item">{% load static %}<img src="" alt="">e-10</a>
            <a href="" class="item">{% load static %}<img src="" alt="">e-11</a>
            <a href="" class="item">{% load static %}<img src="" alt="">e-12</a> {% endcomment %}
        </div>
    </div>


    <hr>

    <footer id="footerMenu" class="centred">

        <div id="footerAbove">
            <h1 class="centred">SEE YOU AGAIN!</h1>
        </div>

        <div id="footerRight">
            <h3>Pages:</h3>
            <a href="/index" target="_blank">HOME</a> <br>
            <a href="/about" target="_blank">ABOUT</a> <br>
            <a href="/services" target="_blank">SERVICES</a> <br>
            <a href="/contact" target="_blank">CONTACT</a> <br>
        </div>

        <div id="footerLeft">

            <a href="/index">
                <div>
                    {% load static %}<img id="logoDown" src="{% static "/media/logo.jpg" %}" alt="PLANTit">
                </div>
                <div>
                    <strong>PLANTit</strong>
                </div>
            </a>

        </div>

        <div id="footerMid">
            <h3 id="socialhead">Socials:</h3>


            <a href="https://www.linkedin.com/in/ishaan-minocha-785779250/" target="_blank">
                <div id="linkedin">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin"
                        width="48" height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#4bb923" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <rect x="4" y="4" width="16" height="16" rx="2" />
                        <line x1="8" y1="11" x2="8" y2="16" />
                        <line x1="8" y1="8" x2="8" y2="8.01" />
                        <line x1="12" y1="16" x2="12" y2="11" />
                        <path d="M16 16v-3a2 2 0 0 0 -4 0" />
                    </svg>
                </div>
            </a>



            <a href="https://www.instagram.com/ishaantrovert/" target="_blank">
                <div id="instagram">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram"
                        width="48" height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#4bb923" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <rect x="4" y="4" width="16" height="16" rx="4" />
                        <circle cx="12" cy="12" r="3" />
                        <line x1="16.5" y1="7.5" x2="16.5" y2="7.501" />
                    </svg>
                </div>
            </a>



            <a href="mailto:minochaishaan2003@gmail.com" target="_blank">
                <div id="gmail">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-gmail" width="48"
                        height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#4bb923" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M16 20h3a1 1 0 0 0 1 -1v-14a1 1 0 0 0 -1 -1h-3v16z" />
                        <path d="M5 20h3v-16h-3a1 1 0 0 0 -1 1v14a1 1 0 0 0 1 1z" />
                        <path d="M16 4l-4 4l-4 -4" />
                        <path d="M4 6.5l8 7.5l8 -7.5" />
                    </svg>
                </div>
            </a>



            <a href="https://github.com/IshaanMinocha" target="_blank">
                <div id="github">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-github" width="48"
                        height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#4bb923" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
                    </svg>
                </div>
            </a>           

        </div>

        <br>

        <div>
            Made with ❤️ and pure code by <a href="https://github.com/IshaanMinocha"> Ishaan Minocha</a> and team for
            HackWithMait 3.0 hackathon. All Rights Reserved. <br>
            Copyright &copy; 2022
        </div>

        <div id="goToTop">
            <a href="/index">{% load static %}<img src="{% static "/media/uparrow.png" %}" alt="TOP" style="width:40px;"></a>
        </div>



    

</body>

</html>